################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DB/DB/x64/Debug/DB.tlog
/DB/DB/x64/Debug
/DB/x64/Debug
/DB/.vs/DB/v15
/DB/.vs/DB/v15
